<div id="mySidenav" class="sidenav">
  <button class = "closeit">Close</button>
  <a href="#">About</a>
  <a href="#">filler</a>
  <a href="#">filler</a>
  <a href="#">filler</a>
</div>

<div id="main">
  <button class = "openit">Open</button>
</div>


