//TODO: put search bar at the center of the map
//TODO: chnage current location icon
//TODO: style popups

.map-list-btn {
  display: flex;
  justify-content: center;
  margin: auto;
}

.btn-map {
  display: inline;
  padding: 16px;
  border-color: yellow;
  border-style: solid;
  cursor: pointer;
}

.btn-list {
  display: inline;
  padding: 16px;
  border-color: yellow;
  border-style: solid;
  cursor: pointer;
}

// .card-trip #list-view {
//   display: none;
// }

// .map-view {
//  display: block;
// }


// .mapboxgl-ctrl-top-right {

// }

// .mapboxgl-ctrl-geocoder .mapboxgl-ctrl {
//   display: flex;
//   justify-content: center;
// }

// .mapboxgl-ctrl .mapboxgl-ctrl-group btn {
//   position: absolute;
//   left: 500px;
// }


//UI KIT CSS

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
