<div class="card-trip">
  <img src="https://thispersondoesnotexist.com/image" class="img-circle"/>
</div>
<div class="d-flex-column col-lg-3 col-sm-6">
  <h2>Basic information</h2>
   <div class="p-2"><p><strong>Full Name</strong></p></div>
   <div class="p-2"><p> <%= @user.user_name %>  </p></div>
   <div class="p-2"><p><strong>Email</strong></p></div>
  <p> <%= @user.email %> </p>
   <div class="p-2"><p><strong>Password</strong></p></div>
  <p>Change password</p>

  <h2>Favorite Cafés</h2>
</div>