


<!-- IF USER HAS ONE CAFE -->

<% if current_user.is_cafe_owner? %>

 <%= render "pages/cafe_dashboard" %>





<!-- IF USER IS A NOMAD -->

<% else %>

<!--[+] Dashboard -->
<section class="dashboard">
  <div class="inner">
    <!--[+] SLIDER BOOKS -->
    <div class="recent-books">
      <ul>
        <!--[+] Recent Books Item-->
        <li>
          <div class="item-inner">
            <span class="caffee-name">Cafe Name</span>
            <button type="button" name="button">Book Again</button>
          </div>
        </li>
        <!--[-] Recent Books Item-->
      </ul>
    </div>
    <!--[-] SLIDER BOOKS -->
    <!--[+] CALENDAR -->
    <div class = "calendar-js" data-controller="calendar">
    <div id = "calendar" data-calendar-target="element" data-bookings="<%= @bookings.to_json%>">

    </div>
  </div>
    <!--[-] CALENDAR --> 
  </div>
</section>
<!--[+] Dashboard -->

  <!-- write event listener to close menu when clicked on another part -->

 





<% end %>





















