<div id="mySidenav" class="sidenav">
  <button class = "closeit">Close</button>
  <a href="#">Account</a>
  <a href="#">Favourites</a>
  <a href="#">Booking History</a>
  <a href="#">Credits</a>
  <a href="#">Help Centre</a>
  <a href="#">Logout</a>
</div>

<div id="main">
  <button class = "openit">Open</button>
</div>



<!-- IF USER HAS ONE CAFE -->

<% if current_user.is_cafe_owner? %>

 <%= render "pages/cafe_dashboard" %>





<!-- IF USER IS A NOMAD -->

<% else %>



  <!-- write event listener to close menu when clicked on another part -->

  <div id = "favourite-bookings">
  next bookigns hereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
  </div>

  <div class = "calendar-js" data-controller="calendar">
    <div id = "calendar" data-calendar-target="element" data-bookings="<%= @bookings.to_json%>">

    </div>
  </div>





<% end %>





















