<!-- app/views/flats/_info_window.html.erb -->
<div style="background-image: url('<%= cl_image_path cafe.photo.key%>')" class="map-window">
  <h2><%= cafe.name%></h2>
  <p><%= cafe.location%></p>
  <button> <%= link_to "Book Now", cafe_path(cafe) %></button>
</div>
