.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


/* UI - HEADER */

  .header-nav {
    background: #fff;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    // box-shadow: rgb(0 0 0 / 20%) 0px 0.0625rem 0.1875rem 0px;
    z-index: 999999;
    padding-left: 30px;
    line-height: 48px;
    padding-right: 30px;
}

.burger-menu, .profile-hedader, .header-bell {
    display: grid;
    align-content: center;
    align-self: center;
}
.profile-thumb {
    display: flex;
    align-items: center;
}
.profile-thumb .thumb {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    border-radius: 50%;
}
 .bell-icon svg {
    width: 21px;
    fill: #16181b;
}
  /* UI - HEADER */



/* BURGER MENU */
.expandet-burger{
    transform: translate(-100vw);
    display: none;
}
#burger:checked ~ .burger-menu .expandet-burger{
  transform: translate(0px);
  display: block;
  width: calc(100% / 1.618);
  height: 100vh;
  position: absolute;
  background: #fff;
  left: 0px;
  top: 0px;
}
.expandet-burger label svg {
    width: 22px;
    height: 22px;
}
.expandet-burger label {
    width: 48px;
    height: 48px;
    display: grid;
    align-items: center;
    align-content: center;
    padding-left: 20px;
}
.expandet-burger ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.expandet-burger ul li {
    line-height: 50px;
    border-bottom: solid 1px #ccc;
    padding-left: 20px;
}
.expandet-burger ul li a {
    font-size: 15px;
    color: #000;
    text-decoration: none;
}
.expandet-burger ul li:hover {
    background: #efefef;
}
/* BURGER MENU */
