.ninja {
  display: none;
}

.tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $nomacafe;
}

.tabs-underlined .tab-underlined {
  color: white;
  padding: 8px;
  margin: 8px 16px;
  opacity: .6;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid white;
}
